.footer{
    min-height: 20vh;
    background-color: rgb(13, 5, 0);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    backdrop-filter: blur(40px); /* Apply a blur effect */
}

.f-limg{
    width: 12vh;
    /* top: -1rem; */
    position: relative;
    margin-bottom: 8px;
}

.f-socails>a{
    color: white;
    margin: 10px;
    text-decoration: none;
}